<h1>Listing movies</h1>

<table id="movieList">
  <thead>
		<tr>
		  <th>Position</th>
		  <th class="content">Name</th>
		  <th class="link"></th>
		  <th class="link"></th>
		  <th class="link"></th>
		</tr>
	</thead>
  <tbody>
	<% @movies.each do |movie| %> 
		<tr>
		  <td></td>
		  <td><%= movie.name %></td>
		  <td><%= link_to 'Show', movie %></td>
		  <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
		  <td><%= link_to 'Destroy', movie, confirm: 'Are you sure?', method: :delete %></td>
		</tr>
	<% end %>
	<tbody>
</table>

<br />

<%= link_to 'New Movie', new_movie_path %>

<script type="text/javascript">
 new SortedTable("movieList");
</script>
